src/nodered/flows.json
[
  {
    "id": "sensingcam-flow",
    "type": "tab",
    "label": "SensingCam Orchestration",
    "disabled": false,
    "info": "Automates sensingCam event capture and correlation with machine telemetry."
  },
  {
    "id": "mqtt-in-machine-events",
    "type": "mqtt in",
    "z": "sensingcam-flow",
    "name": "Machine Events",
    "topic": "factory/line/+/event",
    "qos": "1",
    "datatype": "json",
    "broker": "mosquitto-broker",
    "x": 180,
    "y": 120,
    "wires": [["switch-by-event"]]
  },
  {
    "id": "switch-by-event",
    "type": "switch",
    "z": "sensingcam-flow",
    "name": "Filter anomaly events",
    "property": "payload.event",
    "propertyType": "msg",
    "rules": [
      {"t": "eq", "v": "stop", "vt": "str"},
      {"t": "eq", "v": "fault", "vt": "str"}
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 430,
    "y": 120,
    "wires": [["trigger-recording"], []]
  },
  {
    "id": "trigger-recording",
    "type": "http request",
    "z": "sensingcam-flow",
    "name": "Start camera recording",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://{{{env.SICK_CAMERA_HOST}}}/api/v1/event/recording/start",
    "tls": "",
    "x": 700,
    "y": 120,
    "wires": [["wait-for-clip"]]
  },
  {
    "id": "wait-for-clip",
    "type": "mqtt in",
    "z": "sensingcam-flow",
    "name": "Frigate clip ready",
    "topic": "frigate/events",
    "qos": "1",
    "datatype": "json",
    "broker": "mosquitto-broker",
    "x": 990,
    "y": 120,
    "wires": [["compose-influx-point"]]
  },
  {
    "id": "compose-influx-point",
    "type": "function",
    "z": "sensingcam-flow",
    "name": "Build Influx point",
    "func": "const clip = msg.payload.after || msg.payload;\nconst eventTime = new Date(clip.start_time * 1000).toISOString();\nmsg.payload = {\n    measurement: 'machine_events',\n    tags: {\n        line: msg.line || clip.camera || 'unknown',\n        camera: 'sensingcam',\n        event: msg.payload.type || 'stop'\n    },\n    fields: {\n        video: clip.path,\n        thumbnail: clip.thumbnail || ''\n    },\n    timestamp: eventTime\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1240,
    "y": 120,
    "wires": [["write-influx"]]
  },
  {
    "id": "write-influx",
    "type": "influxdb out",
    "z": "sensingcam-flow",
    "influxdb": "influxdb-conn",
    "name": "InfluxDB",
    "measurement": "machine_events",
    "precision": "ms",
    "retentionPolicy": "",
    "x": 1500,
    "y": 120,
    "wires": []
  },
  {
    "id": "mosquitto-broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "influxdb-conn",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "machine_events",
    "name": "InfluxDB",
    "usetls": false
  }
]
